*.aux
*.log
*.out
*.bbl
*.blg
*~.DS_Store
.DS_Store
*.dvi
auto/
*.pdf
.cache/
*~
.*~
\#*
.\#*
\#*
.\#*
.*~
.cache
*.cl
*.cl.id
*.cl.id.purged
LEFT_OFF
text
*.pyc
*.zip
*/build/lib.linux-x86_64-2.7/
*.lprof
mongod.log
